.green {
    color: white;
    margin: 0px 4px;
    min-width: 40px;
    border-radius: 4px;
    background-color: #65BA52;
}

.orange {
    color: white;
    margin: 0px 4px;
    min-width: 40px;
    border-radius: 4px;
    background-color: #ecb34f;
}

.red {
    color: white;
    margin: 0px 4px;
    min-width: 40px;
    border-radius: 4px;
    background-color: #C33E38;
}

.result {
    left: 50%;;
}